# compiled output
**/dist/*
**/tmp
**/out-tsc/*
**/test-reports/*
**/apidoc/*
data
**/logs/*

# dependencies
**/node_modules/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
./server/npm-debug.log
./server/package-lock.json

# System Files
.DS_Store
Thumbs.db
.directory
